@font-face { 
  font-family: 'MyWebFont';
  src: url('lmroman10-italic-webfont.woff');
} 

.lm {font-family: 'MyWebFont';
  font-weight: normal;
  font-style: normal;
} 
        
.windowcolor {background-color: #FFFFFF !important;} 

/* flex: flex-grow, flex-shrink, and flex-basis */
.input-group .input-group-prepend {flex: 0 0 25%;}

.input-group .input-group-append {flex: 0 0 25%;}

.input-group .input-group-text {width: 100%;}

iframe {
  frameborder: "0";
  scrolling: "no";
  marginheight: "0";
  marginwidth: "0";
}

#intp {font-weight: bold;}

#status, #history {font-style: italic;
  color: #0275d8;
  }