@font-face{ 
    font-family: 'MyWebFont';
    src: url('lmroman10-italic-webfont.woff');
    font-weight: normal;
    font-style: normal;
} 

.lm { font-family: 'MyWebFont'; } 
        
.lightblue { background-color: #F5FFFA !important; } 

.input-group>.input-group-prepend { flex: 0 0 20% !important; }

.input-group>.input-group-append { flex: 0 0 20% !important; }

.input-group .input-group-text { width: 100% !important; }

iframe {
    frameborder="0";
    scrolling="no";
    marginheight="0";
    marginwidth="0";
}
